# No duplicate lines in history
export HISTCONTROL=ignoreboth

# Increase history size
HISTSIZE=65536
HISTFILESIZE=${HISTSIZE}

# Set default LANG
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Default editor as vim
export EDITOR='vim'

# ssh-agent
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/ssh-agent.socket"
