# Convenience function for git operations on dotfiles repo
# https://www.atlassian.com/git/tutorials/dotfiles
function config {
   git --git-dir=$HOME/.cfg/ --work-tree=$HOME $@
}

# Asdf functions
# https://asdf-vm.com/guide/getting-started.html
. "$HOME/.asdf/asdf.sh"
. "$HOME/.asdf/completions/asdf.bash"
