# Convenience function for git operations on dotfiles repo
# https://www.atlassian.com/git/tutorials/dotfiles
function config {
   git --git-dir=$HOME/.cfg/ --work-tree=$HOME "$@"
}

# Asdf functions
# https://asdf-vm.com/guide/getting-started.html
[ -f $HOME/.asdf/asdf.sh ] && . $HOME/.asdf/asdf.sh
[ -f $HOME/.asdf/completions/asdf.bash ] && . $HOME/.asdf/completions/asdf.bash
